arvados-python-client>=2.0.4
celery==5.0.5
bioblend>=0.14.0
django>=3.1.4
django-allauth>=0.42.0
django-recaptcha2==1.4.1
djangorestframework>=3.12.2
django-widget-tweaks>=1.4.8
django-cors-headers>=3.5.0 
psycopg2==2.8.5
python-memcached>=1.59
python-magic>=0.4.18
biopython>=1.78
PyShEx>=0.7.14
pyyaml>=5.3.1
rdflib<=4.3.0
rdflib-jsonld>=0.5
redis==3.5.3
schema-salad>=7.0.20200811075006
uwsgi==2.0.19.1
django-tus
git+https://github.com/bio-ontology-research-group/mrsa-sequences.git@master